.caravan {
  position: relative;
  width: 110px;              /* card width */
  height: 360px;             /* visible stack area */
  border-radius: 12px;
  border: 6px solid rgba(255,255,255,1);
  border-bottom: 0px;
  border-right: 0px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  background: rgba(0,0,0,0.15);
  overflow: visible;          /* keeps stack inside table */  
  transition: all 0.15s ease;
}

.caravan.enemy {
  transform: rotate(180deg);
}

.caravan.enemy:hover {
  cursor: not-allowed;
  background: #68050591;
  box-shadow: #680505 2px 4px 30px ;

}


.caravan-score {
  position: relative;
  top: -15%;
  
  height: 40px;
  width: 80px;
  border-radius: 999px;

  background: rgba(0,0,0,0.4);
  color: white;
  font-size: 30px;  

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Overseer';

  border: 4px solid rgba(255,255,255,0.6);
}

.caravan-playable {
  box-shadow: #12ecc899 2px 4px 30px ;
  border-right: 6px solid  rgba(18, 236, 200, 0.6);
  border-bottom: 6px solid  rgba(18, 236, 200, 0.6);
  
  
}

.caravan-playable:hover {
  cursor:pointer;
  background: rgba(12, 225, 237, 0.1);
  
  transform: scale(1.05);
}

.caravan-blocked {
  /* filter: grayscale(1) brightness(0.5); */
  transition: all 0.15s ease;
  border-right: 5px dashed  rgba(227, 67, 67, 0.6);
  border-bottom: 5px dashed  rgb(227, 67, 67);
  cursor: not-allowed;
}

.caravan-blocked::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 10;
  background: rgba(188, 5, 5, 0.287);
  backdrop-filter: red brightness(0.8);

  border-radius: 12px;
  pointer-events: none;
  

}

.caravan-reason {
  position: absolute;
  bottom: -18px;
  right: 0;
  font-size: 11px;
  color: #ffb3b3;
  pointer-events: none;
}
