
.card-root {
  position: relative;
  width: 90px;
  box-shadow:
  inset 0 0 6px rgba(90, 60, 20, 0.25),
  0 3px 6px rgba(0,0,0,0.35);
}

.card-root::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(245, 232, 180, 0.18); /* aged yellow */
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 2;
}

.card-root::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 3;
  pointer-events: none;

  background:
    /* stains */
    radial-gradient(
      circle at 20% 30%,
      rgba(120, 90, 40, 0.15),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgba(120, 90, 40, 0.12),
      transparent 45%
    ),

    /* subtle grain */
    repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.03),
      rgba(0, 0, 0, 0.03) 1px,
      transparent 1px,
      transparent 2px
    );

  mix-blend-mode: overlay;
  opacity: 0.5;
}


.card-face {
  width: 90px;
  display: block;
  filter: saturate(0.92) contrast(0.98);
}


.card-attachments {
  position: absolute;
  top: 8px;
  right: -15px;
  pointer-events: none;
}

.card-attachment {
  position: absolute;
  width: 90px;
  transform: rotate(8deg);
}

.attachment-face {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}


.card {
  transform:
    translateX(var(--hand-x))
    translateY(var(--hand-y))
    rotate(var(--hand-rot))
    translate3d(
      var(--drag-x, 0),
      var(--drag-y, 0),
      0
    );

  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  transition: all 0.2s ease;
}

.card:first-child {
  margin-left: 0;
}

.card:hover{
  cursor: pointer;
  box-shadow: #12ecc899 0 8px 12px ;
  border-color: #12ecc899;
  border-radius: 6px;
  border-width: 3px;
}

.caravan-card {
  position: absolute;   
  width: 100px;
  pointer-events: auto;
  padding: 6px;
  transition: transform 0.15s ease;
}

.card-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}



.card-blocked {
  cursor: not-allowed;
}

.card-blocked:hover {
  box-shadow: #cf040499 0px 12px 36px ;
  border-color: #d6070799;
  border-radius: 8px;
  border-width: 4px;
}

.card.blocked::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(188, 5, 5, 0.924);
  backdrop-filter: brightness(0.7);
  border-radius: 6px;
  pointer-events: none;
}
