
.card-root {
  position: relative;
  width: 70px;
  box-shadow:
  inset 0 0 6px rgba(90, 60, 20, 0.25),
  0 3px 6px rgba(0,0,0,0.35);
  border-radius: 5px
}

.card-face {
  width: 70px;
  display: block;
  filter: saturate(1) contrast(1.4);
  border-radius: 4px
}


.card-attachments {
  position: absolute;
  top: 8px;
  right: -15px;
  pointer-events: none;
}

.card-attachment {
  position: absolute;
  width: 90px;
  transform: rotate(8deg);
}

.attachment-face {
  width: 100%;
  box-shadow: 2px 2px rgba(0,0,0,0.4);
}


.card {
  transform:
    translateX(var(--hand-x))
    translateY(var(--hand-y))
    rotate(var(--hand-rot))
    translate3d(
      var(--drag-x, 0),
      var(--drag-y, 0),
      0
    );

  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  transition: all 0.2s ease;
}

.card:first-child {
  margin-left: 0;
}

.card:hover{
  cursor: pointer;
  box-shadow: #12ec91ce 0 2px 2px ;
  border-color: #12ec91ce;
  border-radius: 6px;
  border-width: 3px;
}

.card.playable{
  cursor: pointer;
  box-shadow: #12ec91ce 0 2px 2px ;
  border-color: #12ec91ce;
  border-radius: 6px;
  border-width: 3px;
}

.card.blocked{
  cursor: not-allowed;
  box-shadow: #ec1212ce 0 2px 2px ;
  border-color: #ec1212ce;
  border-radius: 6px;
  border-width: 3px;
}

.caravan-card {
  position: absolute;   
  width: 100px;
  pointer-events: auto;
  padding: 6px;
  transition: transform 0.15s ease;
}

.card-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
