.deck {
  position: relative;
  width: 70px;
  cursor: pointer;  
  top: 120px;
  border-radius: 8px;
}

.deck-card {
  background: linear-gradient(135deg, #333, #111);
  box-shadow: 0 4px 10px rgba(0,0,0,.6);
  border-radius: 8px;
}

.deck-count {
  position: relative;
  left: 40%;
  width: 100%;
  text-align: center;
  font-weight: bold;  
}
