.hand {
  position: relative;
  pointer-events: auto;
  top: -40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.hand.rotate {
  transform: rotate(180deg);
  right: -100px;
  top: 40px;
}
