.table-wrapper {
  width: 900px;          /* MUST match visual table */
  margin: 0 auto;         /* center horizontally */
  padding: 0px 0px;     /* inner breathing room */
  display: flex;
  justify-content: center;  
}

.table-grid {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px 20px;
  padding: 20px 0;  
  
}

.table-grid > :nth-child(n+4) {
  align-self: start; /* Player caravans (4-6) align to bottom */
}

.table-side {
  width: 80px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 140px 30px;
}